body {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 14px;
}
@mixin flex-center ($directn, $align) {
    display: flex;
    justify-content: space-evenly;
    align-items:$align;
    flex-direction: $directn;
}
.container {
    @include flex-center(row, normal);
    .header {
        @include flex-center(column, center);
        text-align: center;      
        width: 90%;
        height: 400px;
        background-color: rgba(248,249,250,255);
        border: 1px solid rgba(239,239,239,255);
        border-radius: 8px;
        box-shadow: 5px 5px 4px 2px rgba(244,244,244,255);
        form {
            width: 100%;
            label {
                font-weight: 700;
            }
            #f_password, #f_email, #up_name, #up_pass, #up_email, #up_state, #up_country {
                width: 80%;
                height: 30px;
                margin: 10px;
                padding-left: 10px;
                border: 2px solid rgba(239,239,239,255);
                border-radius: 5px;
                outline: none;
            }
            #f_password:focus, #f_email:focus {
                box-shadow: 0px -1px 5px 1px rgb(90, 159, 244);
                border: 1px solid rgb(90, 159, 244);
            }
        }
        .alx-bg {
            background-image: url("../images/alx.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            height: 80px;
            width:100%;
        }
        .submit {
            background-color: rgba(219,62,62,255);
            border: 0px;
            height: 35px;
            width: 65px;
            border-radius: 5px;
            color: white;
            margin-top: 20px;
            cursor: pointer;
        }
        a {
            color: rgba(219,62,62,255);
            text-decoration: none;
        }
    }
    #signup_cont {
        height: auto;
    }
    #signup_but {
        margin-bottom: 10px;
    }
}
@media only screen and (min-width:769px){
    .container{
        .header{
            width: 400px;
            height: 450px;
            form {
                margin-top: -10px;
                #f_password, #f_email {
                    width: 280px;
                    height: 30px;
                }
            }
        }
    }
}
