.rightContent {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-gap: 20px;
    padding: 0px 20px; 
    overflow-y: scroll;  
}
.notification {
    margin-top: 10px;
    border: 1px solid #e4e4e4;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}