.dashFrame {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 80px 5fr;
    overflow: hidden;
    height: 100vh;
}
.rightContent {
    padding: 10px 20px;
    overflow-y: scroll;
}
.mobileView {
    display: none;
}

@media only screen and (max-width: 769px) {
    .dashFrame {
        grid-template-columns: 1fr;
        overflow-y: scroll;
    }

}